name: Windows Build
on:
  push:
      branches: [ master ]
  pull_request:
      branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false

    runs-on: windows-latest

    steps:

      - uses: actions/checkout@v2

      - name: Setup Windows 10 SDK Action
        uses: GuillaumeFalourd/setup-windows10-sdk-action@v2
        with:
          sdk-version: 22621

      - name: Install OpenSSL
        run: choco install --no-progress openssl

      - name: Checkout Submodules
        shell: bash
        run: |
          git submodule init && git submodule update
  
      - name: Build Project
        shell: bash
        run: |
          mkdir -p build && cd build
          cmake .. -DCMAKE_SYSTEM_VERSION=10.0.22621.0 -DBUILD_TOOLS:BOOL=1 -DBUILD_MANGOSD:BOOL=1 -DBUILD_REALMD:BOOL=1 -DSOAP:BOOL=1 -DSCRIPT_LIB_ELUNA:BOOL=1 -DSCRIPT_LIB_SD3:BOOL=1 -DPLAYERBOTS:BOOL=1 -DUSE_STORMLIB:BOOL=1
          cmake --build . --config Release --parallel 4
