name: Linux Build
on:
  push:
      branches: [ master ]
  pull_request:
      branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check for Updates
        run: sudo apt-get update -y

      - name: Install Required Packages
        run: ./apps/ci/ci-packages.sh

      - name: Update Compilers
        run: source ./apps/ci/ci-compiler-update.sh

      - name: Check for Submodule Updates
        run: source ./apps/ci/ci-submodule-update.sh

      - name: Build Mangos Project
        run: source ./apps/ci/ci-compile.sh
